<div class="d-flex justify-content-between">
  <button color="accent" mat-raised-button routerLink="/register"><i aria-hidden="true" class="fa fa-arrow-left"></i>
    Back
    to
    Registration
  </button>
  <mat-form-field appearance="outline">
    <mat-label>Filter</mat-label>
    <input #input (keyup)="applyFilter($event)" matInput placeholder="Ex. Firstname">
  </mat-form-field>
</div>

<div class="mat-elevation-z8 table-container">
  <table [dataSource]="dataSource" mat-table matSort>

    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> ID</th>
      <td *matCellDef="let row" mat-cell> {{row.id}} </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> First Name</th>
      <td *matCellDef="let row" mat-cell> {{row.firstName}}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Last Name</th>
      <td *matCellDef="let row" mat-cell> {{row.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Email</th>
      <td *matCellDef="let row" mat-cell> {{row.email}} </td>
    </ng-container>

    <ng-container matColumnDef="mobile">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Mobile</th>
      <td *matCellDef="let row" mat-cell> {{row.mobile}} </td>
    </ng-container>

    <ng-container matColumnDef="bmiResult">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> BMI Result</th>
      <td *matCellDef="let row" mat-cell> {{row.bmiResult}} </td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Gender</th>
      <td *matCellDef="let row" mat-cell> {{row.gender}} </td>
    </ng-container>

    <ng-container matColumnDef="package">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Package</th>
      <td *matCellDef="let row" mat-cell> {{row.package}} </td>
    </ng-container>

    <ng-container matColumnDef="enquiryDate">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Enquiry Date</th>
      <td *matCellDef="let row" mat-cell> {{row.enquiryDate | date}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Action</th>
      <td *matCellDef="let row" mat-cell>
        <button [routerLink]="['/detail', row.id]" class="mx-0" color="warn" mat-icon-button><i aria-hidden="true"
                                                                                                class="fa fa-eye"></i>
        </button>
        <button (click)="edit(row.id)" class="mx-0" color="accent" mat-icon-button><i aria-hidden="true"
                                                                                      class="fa fa-pencil"></i></button>
        <button (click)="deleteUser(row.id)" color="primary" mat-icon-button><i aria-hidden="true"
                                                                                class="fa fa-trash"></i></button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

    <tr *matNoDataRow class="mat-row">
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5,10,15]" aria-label="Select page of users"></mat-paginator>
</div>
