mat-form-field{
  width: 100%;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

.myDevShadowAnimation{
  box-shadow: rgba(0, 0, 0, 0.56) 0 22px 70px 4px;
  border-radius: 8px;
}

